version = 0.1

[default.build.parameters]
cached = true
parallel = true
use_container = true
template = "sam/template.be.yaml"

[default.deploy.parameters]
stack_name = "fm-web-backend"
resolve_s3 = true
capabilities = "CAPABILITY_IAM CAPABILITY_NAMED_IAM"
region = "ap-northeast-2"
template_file = ".aws-sam/build/template.yaml"
